<%- include('partials/header') %>
    <!-- Main Content -->
    <main class="container">
        <section>
            <h1>Welcome to home page</h1> 
            <p>This is the home page content.</p>
        </section>
    </main>
<%- include('partials/footer') %>